.container
  %h4 Signup

.container
  .col-md-6.col-md-offset-3
  = form_for @user do |f|
    - if @user.errors.any?
      %h2 Form is invalid
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
    - else
      .field
        = f.label :name
        %br/
        = f.text_field :name
      .field
        = f.label :email
        %br/
        = f.text_field :email
      .field
        = f.label :password
        %br/
        = f.password_field :password
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation
        %br/
        .actions= f.submit "Sign Up"






