.row
  .col-xs-12.col-sm-8.col-md-4.col-sm-offset-2.col-md-offset-4
    .panel.panel-default
      .panel-heading
        %h1.panel-title
          Please Sign Up
      .panel-body
        %form{:role => "form"}
          .row

          = form_for @user do |f| 
            - if @user.errors.any?
              %p "There was an error in your input, Try again"
              - for message_error in @user.errors.full_messages
                %li
                  * #{message_error}
            .form-group
              = f.text_field :name, class: "form-control input-sm", placeholder: "Name" 

            .form-group
              = f.text_field :email, class: "form-control input-sm", placeholder: "Email Address" 

            .form-group
              = f.password_field :password, class: "form-control input-sm", placeholder: "Password" 

            .form-group
              = f.password_field :password_confirmation, class: "form-control input-sm", placeholder: "Password Confirmation" 
            .form-group
              %input.btn.btn-info.btn-block{:type => "submit", :value => "Register"}







